body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
  padding: 8px;
  margin: 5px;
  width: 150px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

h3{
  display: flex;
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
